*.o
*.mod
*.a
*.txt
*.dat
*.grd
*.bin
*.png
*.swp
*.log
*~
.DS_Store

*.cache
.deps
*.status
Makefile
*.tar.gz
*.trs
tests/*
!tests/*.F90
!tests/*.sh
!tests/Makefile.am
!tests/Makefile.in
confdefs.h
conftest*
